<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:replace="/fragments/references :: head"></th:block>
<body class="bg-secondary">
<th:block th:replace="/fragments/navbar :: navbar(${keyword})"></th:block>
<div class="container my-4 text-white">
    <h2 class="mb-3">Aggiungi una nuova ingrediente!</h2>
    <form id="pizza-id" method="post" th:action="@{/ingredients/create}" th:object="${ingredient}">
        <ul class="text-danger">
            <li
                    th:each="err : ${#fields.allErrors()}"
                    th:text="${err}">
            </li>
        </ul>
        <div class="mb-3">
            <label class="form-label" for="name">Nome</label>
            <input aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input"
                   class="form-control "
                   id="name"
                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   th:field="*{name}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Descrizione</label>
            <input aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input"
                   class="form-control "
                   id="description"
                   th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                   th:field="*{description}" type="text">
        </div>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
            <ul class="text-danger">
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="mb-3">
            <a class="btn btn-outline-dark" th:href="@{/ingredients}">Cancela</a>
            <button class="btn btn-outline-warning" type="submit">Aggiungi</button>
        </div>
    </form>
</div>

</body>
</html>