<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:replace="/fragments/references :: head"></th:block>
<body class="bg-secondary text-white">
<th:block th:replace="/fragments/navbar :: navbar(${keyword})"></th:block>

<div class="container mt-3" th:object="${pizza}">
    <h3 th:text="*{name}"></h3>
    <p th:text="*{description}"></p>
    <p th:text="*{price}"></p>
    <div class="pb-2">Offerte: <span th:text="*{specialOffers.size()}"></span></div>
    <div class="badge bg-success text-bg-success" th:each="offer : *{specialOffers}" th:object="${offer}">
        <div th:text="*{title}"></div>
    </div>
    <a th:href="@{/offers/create}"><strong class="btn btn-sm btn-outline-warning">Aggiungi offerta</strong></a>
</div>

<!--
La pagina di dettaglio della singola pizza mostrerà l’elenco delle offerte
collegate e avrà un bottone “Crea nuova offerta speciale”
per aggiungerne una nuova.
Accanto a ogni offerta speciale è previsto un bottone che mi porterà a una pagina per modificarla.
-->

<!-- <tr th:each="borrowing : *{borrowings}" th:object="${borrowing}">
      <td th:text="${#temporals.format(borrowing.borrowingDate, 'dd/MM/yyyy')}"></td>-->


<!--<div th:each="${pizza.specialOffers}" th:if="${pizza.specialOffers}">-->

<!--</div>-->
</body>
</html>