<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/fragments :: head"></div>
<body>
<div class="container my-5" th:if="${pizzas.size()}">
    <table class="table table-info table-striped-columns">
        <thead>
        <tr>
            <th scope="col">nome</th>
            <th scope="col">descrizione</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${pizzas.size() == 0}">
    Ancora nessuna pizza!
</div>

</body>
</html>